/* Dark Mode

$background-dark-0: #141414;
$background-dark-1: #212121;
$background-dark-2: #262626;
$background-dark-3: #2E2E2E;
$background-dark-4: #3B3B3B;
$background-dark-5: #4D4D4D;

$text-light-0: #F2F2F2;
$text-light-1: #EBEBEB;
$text-light-2: #E3E3E3;
$text-light-3: #D9D9D9;
$text-light-4: #D1D1D1;
$text-light-5: #C9C9C9;

// Light Mode

$background-light-0: #F5F5F5;
$background-light-1: #EDEDED;
$background-light-2: #E6E6E6;
$background-light-3: #E0E0E0;
$background-light-4: #DBDBDB;
$background-light-5: #D6D6D6;

$text-dark-0: #171717;
$text-dark-1: #232323;
$text-dark-2: #333333;
$text-dark-3: #4A4A4A;
$text-dark-4: #5C5C5C;
$text-dark-5: #6E6E6E;
*/
.dropdown {
  display: inline-block;
  position: relative;
  min-width: 20rem;
}
.dropdown .dropdown-head {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #e0e0e0;
  transition: 200ms;
}
.dropdown .dropdown-head .dropdown-icon {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 35px solid black;
  margin: 0 0 0 23px;
  transition: 200ms;
}
.dropdown .dropdown-head .dropdown-selected {
  flex-grow: 1;
}
.dropdown .dropdown-head:hover {
  background-color: #c7c7c7;
}
.dropdown .dropdown-head:active {
  background-color: #bababa;
}
.dropdown .dropdown-body {
  position: absolute;
  z-index: 4;
  max-height: 20rem;
  width: 100%;
  bottom: -1rem;
  border-radius: 0.5rem;
  background-color: #e0e0e0;
  transition-duration: 200ms;
  transition-property: all;
  transform: translateY(90%) scale(0.9);
  overflow: auto;
  visibility: hidden;
  opacity: 0;
}
.dropdown .dropdown-body .dropdown-item {
  cursor: pointer;
  transition-duration: 200ms;
  transition-property: all;
}
@media screen and (max-width: 786px) {
  .dropdown .dropdown-body .dropdown-item {
    padding: 1rem;
  }
}
@media screen and (min-width: 786px) {
  .dropdown .dropdown-body .dropdown-item {
    padding: 0.5rem 1rem;
  }
}
.dropdown .dropdown-body .dropdown-item:last-child {
  padding-bottom: 0.7rem;
}
.dropdown .dropdown-body .dropdown-item:first-child {
  padding-top: 0.7rem;
}
.dropdown .dropdown-body .dropdown-item:hover {
  background-color: #c7c7c7;
}
.dropdown .dropdown-body .dropdown-item.active, .dropdown .dropdown-body .dropdown-item:active {
  background-color: #bababa;
}
.dropdown .dropdown-body::-webkit-scrollbar {
  width: 2px;
}
.dropdown .dropdown-body::-webkit-scrollbar-thumb {
  background: #888888;
}
.dropdown.active .dropdown-icon {
  transform: rotate(180deg);
}
.dropdown.active .dropdown-body {
  visibility: visible;
  opacity: 1;
  transform: translateY(100%) scale(1);
}

.dropdown-dark .dropdown-head-dark {
  background-color: #555555 !important;
}
.dropdown-dark .dropdown-head-dark .dropdown-icon-dark {
  border-bottom-color: #eeeeee !important;
}
.dropdown-dark .dropdown-head-dark .dropdown-selected-dark {
  color: #eeeeee !important;
}
.dropdown-dark .dropdown-head-dark:hover {
  background-color: #484848 !important;
}
.dropdown-dark .dropdown-head-dark:active {
  background-color: #3c3c3c !important;
}
.dropdown-dark .dropdown-body-dark {
  background-color: #555555 !important;
}
.dropdown-dark .dropdown-body-dark .dropdown-item-dark {
  color: #eeeeee !important;
}
.dropdown-dark .dropdown-body-dark .dropdown-item-dark:hover {
  background-color: #484848 !important;
}
.dropdown-dark .dropdown-body-dark .dropdown-item-dark.active, .dropdown-dark .dropdown-body-dark .dropdown-item-dark:active {
  background-color: #484848 !important;
}

/*# sourceMappingURL=Dropdown.css.map */
