@import "../../../styles/Colors";

.teacher-page {
    height: 100vh;

    .content-container {
        width: 100%;
        height: 100%;

        .content {
            @media only screen and (min-width: 200px) {
                margin-left: 10rem;
            }
            @media only screen and (min-width: 600px) {
                margin-left: 9.5rem;
            }
            @media only screen and (min-width: 1000px) {
                margin-left: 9rem;
            }
            @media only screen and (min-width: 1400px) {
                margin-left: 8.5rem;
            }

            width: auto;
            height: 100%;
        }

        .content-mobile {
            margin-left: 0;

            width: 100%;
            height: 100%;
        }
    }
}

h1 {
    margin: 0;
}

.teacher-page-dark {
    color: $color-50 !important;
    background-color: $color-850 !important;
}
