@import "../../styles/Colors";

.about-page {
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 95vw;
    min-height: 100vh;

    margin: 0;
    padding: 0;

    word-wrap: break-word;

    .title {
        text-align: center;
    }

    .about {
        padding: 0 .5rem;
    }

    ul {
        list-style-type: none;

        ol, ul {
            margin: 0;
            padding: 0 0 0 1.5rem;
        }
    }

    li {
        margin: .2rem;
    }

    h1, h2, h3, h4, h5, h6, p {
        margin: 0;
        padding: 0;
    }
}

.about-page-dark {
    background-color: $color-850 !important;

    * {
        color: $color-50 !important;
    }
}
