@import "../../styles/Colors.scss";

.login-page {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;

    color: $color-900;
    background-color: $color-50;

    .form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;

        border-radius: .5rem;
        background-color: $color-100;

        @media only screen and (min-width: 200px) {
            width: 70%;
        }
        @media only screen and (min-width: 600px) {
            width: 45%;
        }
        @media only screen and (min-width: 1000px) {
            width: 30%;
        }
        @media only screen and (min-width: 1400px) {
            width: 22%;
        }

        margin: 0;
        padding: 1.2rem .8rem;

        .message {
            margin: 0;
            padding-bottom: .65rem;

            color: $color-900;

            text-align: center;
            font-size: 1.2rem;

            &.error {
                color: $error-default;
            }
        }

        .input-container {
            position: relative;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;

            margin: 0 0 1rem 0;
            padding: 0;

            .input-label {
                font-size: 1.5rem;
                font-weight: bold;
            }

            .input-container {
                padding: .6rem;

                font-size: 1.1rem;

                border: $color-400 2px solid;
                border-radius: 10px;

                transition: border 350ms;

                background-color: $color-100;

                @media screen and (max-width: 400px) {
                    font-size: .9rem;
                }

                @media screen and (max-width: 300px) {
                    font-size: .8rem;
                }

                &:focus {
                    border: $accent-lighter 2px solid;
                    outline: none;
                }
            }
        }

        .password-container {
            position: relative;

            .show-password {
                position: absolute;
                top: 0;
                right: 0;

                height: 2rem;

                margin-right: .5rem;

                transform: translateY(100%);
            }
        }

        .submit {
            transition: background-color 200ms ease-in-out;

            margin: 0;
            padding: .8rem;

            font-size: 1.4rem;
            background-color: $color-200;

            &:hover {
                background-color: darken($color-300, 0%);
            }

            &:active {
                background-color: darken($color-400, 0%);
            }
        }
    }
}

.login-redirect {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100vh;

    img {
        width: 10rem;
        margin: 1rem;
    }

    h1 {
        @media only screen and (min-width: 200px) {
            margin: 1rem;
        }
        @media only screen and (min-width: 1000px) {
            margin: 0;
        }

        text-align: center;

        margin: 0;
        padding: 0;
    }
}

.login-page-dark {
    background-color: $color-900 !important;

    .form-dark {
        color: $color-50 !important;
        background-color: $color-800 !important;

        .message-dark {
            color: $color-200 !important;

            &.error {
                color: $error-lighter !important;
            }
        }

        .input-label-dark {
            color: $color-50 !important;
        }

        input {
            color: $color-50 !important;
            background-color: $color-800 !important;
        }

        .submit-dark {
            color: $color-50 !important;
            background-color: $color-700 !important;

            &:hover {
                background-color: darken($color-650, 0%) !important;
            }

            &:active {
                background-color: darken($color-825, 0%) !important;
            }
        }
    }
}

.login-redirect-dark {
    color: $color-50 !important;
    background-color: $color-900 !important;
}
