// TODO design: fix responsibility on all devices

@import "../../styles/Colors";

.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        border-radius: 8px;
        background-color: #f8f8f8;

        @media only screen and (min-width: 200px) {
            width: 80%;
        }
        @media only screen and (min-width: 600px) {
            width: 60%;
        }
        @media only screen and (min-width: 1000px) {
            width: 40%;
        }
        @media only screen and (min-width: 1400px) {
            width: 20%;
        }

        padding: 10px;
        margin-top: -5%;

        .message {
            margin: 0;

            text-align: center;
        }

        .input-label {
            font-size: 30px;
            font-weight: bold;

            @media only screen and (min-width: 200px) {
                margin: 6% 0 0 -55%;
            }
            @media only screen and (min-width: 600px) {
                margin: 5% 0 0 -55%;
            }
            @media only screen and (min-width: 1000px) {
                margin: 5% 0 0 -52%;
            }
            @media only screen and (min-width: 1400px) {
                margin: 5% 0 0 -45%;
            }
        }

        .input {
            padding: 5px;

            font-size: 20px;

            width: 80%;

            border: none;
            border-radius: 10px;

            &:focus {
                outline: none;
            }
        }

        .submit {
            margin: 6% -55% 0 0;

            background-color: #fbfbfb;

            border: none;
            border-radius: 10px;

            transition: background-color 200ms ease-in-out;

            p {
                font-size: 30px;
                padding: 10px;
                margin: 0;
            }

            &:hover {
                background-color: darken(#fbfbfb, 10%);
            }

            &:active {
                background-color: darken(#fbfbfb, 15%);
            }
        }

        .toggle-password-visibility-container {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;

            margin: 0;
            padding: 0;

            @media only screen and (min-width: 200px) {
                margin-left: -42%;
                margin-top: 1%;
            }
            @media only screen and (min-width: 600px) {
                margin-left: -50%;
                margin-top: 1%;
            }
            @media only screen and (min-width: 1000px) {
                margin-left: -45%;
                margin-top: 1.4%;
            }
            @media only screen and (min-width: 1400px) {
                margin-left: -35%;
                margin-top: 1.8%;
            }

            .toggle-password-visibility-checkbox {
                @media only screen and (min-width: 200px) {
                    width: 4.5vw;
                    height: 8.5vh;
                }
                @media only screen and (min-width: 600px) {
                    width: 2.8vw;
                    height: 6vh;
                }
                @media only screen and (min-width: 1000px) {
                    width: 1.8vw;
                    height: 3vh;
                }
                @media only screen and (min-width: 1400px) {
                    width: 1.2vw;
                    height: 2.4vh;
                }

                margin: 0 .6rem 0 0;
                padding: 0;

                cursor: pointer;
            }

            p {
                margin: 0;
                font-size: 1.2rem;

                width: 100%;

                cursor: pointer;
            }
        }
    }
}

.login-redirect {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100vh;

    svg {
        transform: scale(5);
        margin-bottom: 5%;
        margin-top: -2%;
    }

    h1 {
        @media only screen and (min-width: 200px) {
            margin: 1rem;
        }
        @media only screen and (min-width: 1000px) {
            margin: 0;
        }

        text-align: center;

        margin: 0;
        padding: 0;
    }
}

.login-page-dark {
    background-color: #3e4144 !important;

    .form-dark {
        color: #eeeeee !important;
        background-color: #34363a !important;

        .message-dark {
            color: #f6f6f6 !important;
        }

        .input-label-dark {
            color: #eeeeee !important;
        }

        input {
            color: #eeeeee !important;
            background-color: #464a4b !important;
        }

        .submit-dark {
            color: #eeeeee !important;
            background-color: #3e4144 !important;

            &:hover {
                background-color: darken(#3e4144, 2%) !important;
            }

            &:active {
                background-color: darken(#3e4144, 8%) !important;
            }
        }

        .toggle-password-visibility-container-dark {
            p {
                color: #eeeeee !important;
            }
        }
    }
}

.login-redirect-dark {
    color: #e0e0e0 !important;
    background-color: #3e4144 !important;
}
