// https://www.csscodelab.com/google-like-css-input-box-placeholder-shown/

@import "../../styles/Colors";

.google-input {
    position: relative;
    margin: 0;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;

    .label {
        position: absolute;
        top: 50%;
        left: .25rem;

        transform: translateY(-50%);
        transform-origin: 0 0;
        transition: all 200ms ease;

        color: rgba(0, 0, 0, 0.9);
        font-weight: 500;
        pointer-events: none;
    }

    .focus-bg {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background: rgba(0, 0, 0, 0.05);
        z-index: -1;
        transform: scaleX(0);
        transform-origin: left;
    }

    input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 100%;
        height: 100%;
        font-size: 16px;
        font-weight: 400;
        background: rgba(0, 0, 0, 0.02);
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
        color: #000;
        transition: all 150ms ease;

        border-radius: .5rem;

        &:hover {
            background: rgba(0, 0, 0, 0.04);
            box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
        }

        // noinspection CssInvalidPseudoSelector
        &:not(:-moz-placeholder-shown) + .label {
            color: rgba(0, 0, 0, 0.5);
            transform: translateY(-120%) scale(.75);
        }

        &:not(:-ms-input-placeholder) + .label {
            color: rgba(0, 0, 0, 0.5);
            transform: translateY(-120%) scale(.75);
        }

        &:not(:placeholder-shown) + .label {
            color: rgba(0, 0, 0, 0.5);
            transform: translateY(-120%) scale(.75);
        }

        &:focus {
            background: rgba(0, 0, 0, 0.05);
            outline: none;
            box-shadow: inset 0 -2px 0 #0077FF !important;
        }

        &:focus + .label {
            color: #0077FF !important;
            transform: translateY(-120%) scale(.75);
        }

        &:focus + .label + .focus-bg {
            transform: scaleX(1);
            transition: all 100ms ease;
        }
    }
}

.google-input-dark {
    .label {
        color: rgba(238, 238, 238, .9) !important;
    }

    input {
        color: #eeeeee !important;
    }
}
