# npm files
/node_modules
/build
yarn.lock

# ide files
/.idea
/.vscode
/.vs
/.atom

# sass files
*.css.map
*/*/.sass-cache
*/*/*/.sass-cache
*/*/*/*/.sass-cache

# local files
.eslintcache
src/pages/About/About.txt
