@import "../../styles/Colors";

.back-to-home-page-button {
    display: block;

    position: fixed;
    bottom: 1rem;
    right: 1.5rem;

    width: fit-content;
    height: fit-content;

    font-size: 1.3rem;
    padding: 0.8rem;

    border: 2px solid $color-800;
    border-radius: 10px;

    color: $color-900;
    background-color: #eeeeee;

    transition: all 400ms ease-in-out;
    cursor: pointer;

    &.relative {
        position: relative;

        margin: 1rem auto 0 auto;
        transform: translateX(12.5%);  // just reasons (it works)
    }

    &:hover {
        color: $color-50;
        background-color: $color-900;
    }
}

.back-to-home-page-button-dark {
    color: $color-50 !important;
    background-color: $color-700 !important;
    border-color: $color-100 !important;

    &:hover {
        color: $color-500 !important;
        background-color: $color-100 !important;
    }
}
