@import "../../styles/Colors";

.md-editor {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    background-color: $color-100;

    border-radius: .5rem;

    padding: .3rem;

    .tools {
        display: flex;
        flex-direction: row;

        button {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 2.5rem;
            height: 2.5rem;

            border-radius: .5rem;

            margin: 0 .25rem;
            padding: .3rem;

            font-size: 1.25rem;

            cursor: pointer;
            background-color: $color-850;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .help-separator {
            flex-grow: 1;
            align-self: flex-end;
        }

        .help {
            display: block;

            .docs {
                width: 30vw;
                height: fit-content;

                border-radius: .5rem;

                margin: .2rem 0;
                padding: .5rem;

                opacity: 0;

                transform: translate(-74%, 25%) scale(.85);
                transition: 250ms all;

                background-color: $color-850;
            }

            &.active .docs {
                opacity: 1;

                transform: translate(-94%, 0) scale(1);
            }
        }
    }

    .input {
        display: flex;
        flex-direction: row;

        flex-grow: 1;

        padding: 0;

        div {
            width: 100%;

            font-size: 1.2rem;

            overflow: auto;

            * {
                margin: 0;
                padding: 0;
            }
        }

        .md {
            outline: 0 solid transparent;
        }

        .html {
            margin-left: .2rem;
            padding-left: .5rem;

            border-left: 1px solid white;

            color: $color-50;
        }
    }
}

.md-editor-dark {
    background-color: $color-900 !important;

    .tools {
        button {
            color: #eeeeee !important;
            background-color: $color-800 !important;
        }

        .help {
            .docs {
                background-color: $color-800 !important;
            }
        }
    }
}
