// TODO code: change all em to rem

.about-page {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

    width: 100vw;
    height: 100vh;

    h1, h2, h3, h4, h5, h6, p {
        margin: 0;
        padding: 0;
    }

    h1 {
        font-size: 6em;

        margin: 4%;
        padding: 0;
    }

    h2 {
        font-size: 5em;

        margin: 3%;
        padding: 0;
    }

    h3 {
        font-size: 4em;

        margin: 2%;
        padding: 0;
    }

    h4 {
        font-size: 3em;

        margin: 1%;
        padding: 0;
    }

    h5 {
        font-size: 2em;
    }

    h6 {
        font-size: 1em;
    }

    p {
        font-size: 2em;

        margin: 1%;
        padding: 0;
    }
}

.about-page-dark {
    background-color: #3e4344 !important;

    .text-dark {
        color: #eeeeee !important;
    }
}
