@import 'Utils';

.app {
    height: 100vh;
}

// global classes
.unselectable, br {
    -moz-user-select: none;
    -webkit-user-select: none;

    -ms-user-select: none;
    user-select: none;
}

.background {
    @include background();

    background-color: white;
    z-index: -1;
}

.background-dark {
    background-color: #3e4144 !important;
}
