.balls-container {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    .ball {
        position: absolute;

        z-index: 3;
        width: 2vw;
        height: 3vh;

        pointer-events: all;
    }

    overflow: hidden;
    pointer-events: none;
    background: none !important;
}
