.balls-container {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    z-index: 2;

    .ball {
        position: absolute;
        z-index: 3;
        width: 100vw;
        height: 100vh;
    }
}
