// Colors (Uxdesign)
$color-50: #FAFAFA;
$color-100: #F5F5F5;
$color-150: #F0F0F0;
$color-200: #EEEEEE;
$color-300: #E0E0E0;
$color-400: #BDBDBD;
$color-500: #9E9E9E;
$color-575: #818181;
$color-600: #757575;
$color-650: #686868;
$color-700: #616161;
$color-800: #424242;
$color-825: #373737;
$color-850: #2c2c2c;
$color-900: #212121;

// Accent (flatuicolors)
$accent-darker: #086dba;
$accent-default: #0984E3;
$accent-lighter: #1e98f6;
