.login-container-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff; }
  .login-container-container .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 8px;
    background-color: #fafafa;
    padding: 10px;
    margin-top: -5%; }
    @media only screen and (min-width: 200px) {
      .login-container-container .login-container {
        width: 80%; } }
    @media only screen and (min-width: 600px) {
      .login-container-container .login-container {
        width: 60%; } }
    @media only screen and (min-width: 1000px) {
      .login-container-container .login-container {
        width: 40%; } }
    @media only screen and (min-width: 1400px) {
      .login-container-container .login-container {
        width: 20%; } }
    .login-container-container .login-container .message {
      margin: 0;
      color: black;
      text-align: center; }
    .login-container-container .login-container .input-label {
      color: #090909;
      font-size: 30px; }
      @media only screen and (min-width: 200px) {
        .login-container-container .login-container .input-label {
          margin: 20% 0 0 -55%; } }
      @media only screen and (min-width: 600px) {
        .login-container-container .login-container .input-label {
          margin: 15% 0 0 -55%; } }
      @media only screen and (min-width: 1000px) {
        .login-container-container .login-container .input-label {
          margin: 10% 0 0 -52%; } }
      @media only screen and (min-width: 1400px) {
        .login-container-container .login-container .input-label {
          margin: 7.5% 0 0 -45%; } }
    .login-container-container .login-container .input {
      padding: 4px 0;
      font-size: 20px;
      width: 80%;
      border-radius: 6px;
      border: none; }
      .login-container-container .login-container .input:focus {
        outline: none; }
    .login-container-container .login-container .submit {
      margin: 6% -55% 0 0;
      background-color: #fafafa;
      border: none;
      border-radius: 10px; }
      .login-container-container .login-container .submit p {
        font-size: 30px;
        padding: 10px;
        margin: 0; }
      .login-container-container .login-container .submit:hover {
        background-color: #efefef; }
      .login-container-container .login-container .submit:active {
        background-color: #cdcdcd; }
    .login-container-container .login-container .toggle-password-visibility-container {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      margin: 0;
      padding: 0; }
      @media only screen and (min-width: 200px) {
        .login-container-container .login-container .toggle-password-visibility-container {
          margin-left: -40%;
          margin-top: 0; } }
      @media only screen and (min-width: 600px) {
        .login-container-container .login-container .toggle-password-visibility-container {
          margin-left: -35%;
          margin-top: 0.1%; } }
      @media only screen and (min-width: 1000px) {
        .login-container-container .login-container .toggle-password-visibility-container {
          margin-left: -30%;
          margin-top: 0.5%; } }
      @media only screen and (min-width: 1400px) {
        .login-container-container .login-container .toggle-password-visibility-container {
          margin-left: -35%;
          margin-top: 1%; } }
      .login-container-container .login-container .toggle-password-visibility-container .toggle-password-visibility-checkbox {
        margin: 0 5% 0 0;
        padding: 0;
        cursor: pointer; }
        @media only screen and (min-width: 200px) {
          .login-container-container .login-container .toggle-password-visibility-container .toggle-password-visibility-checkbox {
            width: 4.5vw;
            height: 8.5vh; } }
        @media only screen and (min-width: 600px) {
          .login-container-container .login-container .toggle-password-visibility-container .toggle-password-visibility-checkbox {
            width: 2.8vw;
            height: 6vh; } }
        @media only screen and (min-width: 1000px) {
          .login-container-container .login-container .toggle-password-visibility-container .toggle-password-visibility-checkbox {
            width: 1.8vw;
            height: 3vh; } }
        @media only screen and (min-width: 1400px) {
          .login-container-container .login-container .toggle-password-visibility-container .toggle-password-visibility-checkbox {
            width: 1.2vw;
            height: 2.4vh; } }
      @media only screen and (min-width: 200px) {
        .login-container-container .login-container .toggle-password-visibility-container p {
          width: 30vw;
          margin: 12% 0 0 0;
          font-size: 1.2em; } }
      @media only screen and (min-width: 600px) {
        .login-container-container .login-container .toggle-password-visibility-container p {
          width: 24vw;
          margin: 6% 0 0 0;
          font-size: 1.2em; } }
      @media only screen and (min-width: 1000px) {
        .login-container-container .login-container .toggle-password-visibility-container p {
          width: 15vw;
          margin: 0;
          font-size: 1.2em; } }
      @media only screen and (min-width: 1400px) {
        .login-container-container .login-container .toggle-password-visibility-container p {
          width: 8vw;
          margin: 0;
          font-size: 1.2em; } }

.login-container-container-dark {
  background-color: #2e3033 !important; }
  .login-container-container-dark .login-container-dark {
    background-color: #383a3d !important;
    color: #eeeeee !important; }
    .login-container-container-dark .login-container-dark .message-dark {
      color: #f6f6f6 !important; }
    .login-container-container-dark .login-container-dark .input-label-dark {
      color: #e0e0e0 !important; }
    .login-container-container-dark .login-container-dark .submit-dark {
      background-color: #323232 !important;
      color: #eeeeee !important; }
      .login-container-container-dark .login-container-dark .submit-dark:hover {
        background-color: #353535 !important; }
      .login-container-container-dark .login-container-dark .submit-dark:active {
        background-color: #383838 !important; }
    .login-container-container-dark .login-container-dark .toggle-password-visibility-container-dark p {
      color: #e0e0e0 !important; }

.login-redirect {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh; }
  .login-redirect svg {
    transform: scale(5);
    margin-top: 0;
    margin-bottom: 5%; }
  .login-redirect h1 {
    margin: 0;
    padding: 0; }

.login-redirect-dark {
  background-color: #2e3033 !important;
  color: #c6c6c6 !important; }

/*# sourceMappingURL=Login.css.map */
