// responsive size handling
$screen-size: 0;
@media only screen and (min-width: 200px) {
    $screen-size: 0;
}
@media only screen and (min-width: 600px) {
    $screen-size: 1;
}
@media only screen and (min-width: 1000px) {
    $screen-size: 2;
}
@media only screen and (min-width: 1400px) {
    $screen-size: 3;
}

@function get_responsive_size($exsm, $sm, $md, $lg) {
    @if ($screen-size == 0) {
        @return $exsm;
    }
    @else if ($screen-size == 1) {
        @return $sm;
    }
    @else if ($screen-size == 2) {
        @return $md;
    }
    @else if ($screen-size == 3) {
        @return $lg;
    }
    @else {
        @return 0;
    }
}

// variables
$base-font-size: 20px;

// classes
.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 200vh;

    .login {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        background-color: #fafafa;

        //@media only screen and (min-width: 200px) {
        //    width: 80%;
        //}
        //@media only screen and (min-width: 600px) {
        //    width: 60%;
        //}
        //@media only screen and (min-width: 1000px) {
        //    width: 40%;
        //}
        //@media only screen and (min-width: 1400px) {
        //    width: 20%;
        //}

        width: get_responsive_size(80%, 60%, 40%, 20%);

        padding: 10px;
        margin-top: -5%;

        h1 {
            margin: 0;
        }

        h4 {
            font-size: $base-font-size + 10px;

            @media only screen and (min-width: 200px) {
                margin: 20% 0 0 -55%;
                $base-font-size: 80px;
            }
            @media only screen and (min-width: 600px) {
                margin: 15% 0 0 -55%;
                $base-font-size: 60px;
            }
            @media only screen and (min-width: 1000px) {
                margin: 10% 0 0 -52%;
                $base-font-size: 40px;
            }
            @media only screen and (min-width: 1400px) {
                margin: 7.5% 0 0 -45%;
                $base-font-size: 20px;
            }
        }

        input {
            padding: 4px 0;
            font-size: $base-font-size;
            width: 80%;
            border-radius: 6px;
            border: none;

            input:focus { 
                outline: none;
                border: 4px solid rgb(150, 150, 150);

            }
        }

        button {
            margin: 6% -55% 0 0;
            background-color: #fafafa;
            border: none;
            border-radius: 8px;

            p {
                font-size: $base-font-size + 10px;
                padding: 10px;
                margin: 0;
            }

            :hover {
                background-color: #efefef;
            }

            :active {
                background-color: #cdcdcd;
            }
        }
    }
}
