// TODO design: fix responsibility

.prompt {
    opacity: 0;
    visibility: hidden;

    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    z-index: 5;

    transition-duration: 400ms;
    transition-property: all;

    @supports (backdrop-filter: blur(20px)) {
        backdrop-filter: blur(20px);
    }
    @supports not (backdrop-filter: blur(20px)) {
        background-color: #eaeaea;
    }

    .prompt-window {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        position: fixed;
        top: 50vh;
        left: 50vw;

        transition-duration: 400ms;
        transition-property: all;
        transform: translate(-50%, -80%) scale(1.3);
        filter: blur(2px);

        z-index: 6;

        border: none;
        border-radius: 10px 10px 0 10px;

        h1 {
            margin: 0;

            color: #252525;
        }

        .password-container {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 100%;

            input {
                border: none;
                border-radius: 10px 10px 0 10px;

                font-size: 1.5rem;

                margin: 1rem;
                padding: .5rem;

                width: 60%;
            }

            button {
                height: 2rem;
                padding: .45rem;
            }
        }

        .button-container {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;

            width: 100%;

            button {
                font-size: 1.5rem;

                // this is not a typo
                margin: 0 .2rem;
                padding: .45rem;

                background-color: #d0d0d0;
            }
        }
    }

    &.active {
        opacity: 1;
        visibility: visible;

        .prompt-window {
            transform: translate(-50%, -75%) scale(1);
            filter: blur(0px);
        }
    }
}

.prompt-dark {
    @supports not (backdrop-filter: blur(20px)) {
        background-color: #3e4144 !important;
    }

    .prompt-window-dark {
        h1 {
            color: #eeeeee !important;
        }

        button {
            color: #e0e0e0 !important;
            background-color: #373737 !important;
        }
    }
}
