.prompt {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  transition-duration: 400ms;
  transition-property: all; }
  @supports (backdrop-filter: blur(20px)) {
    .prompt {
      backdrop-filter: blur(20px); } }
  @supports not (backdrop-filter: blur(20px)) {
    .prompt {
      background-color: #eaeaea; } }
  .prompt .prompt-window {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transition-duration: 400ms;
    transition-property: all;
    transform: translate(-50%, -80%) scale(1.3);
    filter: blur(2px);
    z-index: 6;
    border: none;
    border-radius: 10px 10px 0 10px; }
    @media only screen and (min-width: 200px) {
      .prompt .prompt-window {
        width: 100%; } }
    @media only screen and (min-width: 1000px) {
      .prompt .prompt-window {
        width: 50%; } }
    @media only screen and (min-width: 1400px) {
      .prompt .prompt-window {
        width: 30%; } }
    .prompt .prompt-window h1 {
      margin: 0;
      color: #252525; }
      @media only screen and (min-width: 200px) {
        .prompt .prompt-window h1 {
          font-size: 2rem;
          text-align: center; } }
      @media only screen and (min-width: 1000px) {
        .prompt .prompt-window h1 {
          font-size: 2.5rem; } }
    .prompt .prompt-window .password-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%; }
      .prompt .prompt-window .password-container input {
        border: none;
        border-radius: 10px 10px 0 10px;
        font-size: 1.5rem;
        margin: 1rem;
        padding: .5rem;
        width: 100%; }
      .prompt .prompt-window .password-container button {
        height: fit-content;
        font-size: 1.5rem !important;
        padding: .45rem; }
    .prompt .prompt-window .toggle-password-visibility {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      margin: .3rem 0 .5rem 0; }
      @media only screen and (min-width: 200px) {
        .prompt .prompt-window .toggle-password-visibility {
          margin-left: 2rem; } }
      @media only screen and (min-width: 1000px) {
        .prompt .prompt-window .toggle-password-visibility {
          margin-left: 1rem; } }
      .prompt .prompt-window .toggle-password-visibility p {
        display: inline-block;
        height: 100%;
        font-size: 1.2rem;
        margin: 0 0 0 .2rem;
        vertical-align: middle; }
    .prompt .prompt-window .button-container {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      width: 100%; }
      .prompt .prompt-window .button-container button {
        font-size: 1.6rem !important;
        margin: 0 .2rem;
        padding: .45rem;
        border: none;
        border-radius: 10px 10px 0 10px;
        background-color: #d0d0d0; }
  .prompt.active {
    opacity: 1;
    visibility: visible; }
    .prompt.active .prompt-window {
      transform: translate(-50%, -75%) scale(1);
      filter: blur(0px); }

@supports not (backdrop-filter: blur(20px)) {
  .prompt-dark {
    background-color: #3e4144 !important; } }
.prompt-dark .prompt-window-dark h1 {
  color: #eeeeee !important; }
.prompt-dark .prompt-window-dark button {
  color: #e0e0e0 !important;
  background-color: #373737 !important; }

/*# sourceMappingURL=Prompt.css.map */
