.prompt {
    .blur {
        position: fixed;
        top: 0;
        left: 0;

        width: 100vw;
        height: 100vh;

        z-index: 5;

        background-color: #eaeaea;
    }

    .prompt-window {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        position: fixed;
        top: 50vh;
        left: 50vw;

        transform: translate(-50%, -75%);

        z-index: 6;

        border: none;
        border-radius: 10px 10px 0 10px;

        h1 {
            margin: 0;

            color: #252525;
        }

        .password-container {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 100%;

            input {
                border: none;
                border-radius: 10px 10px 0 10px;

                font-size: 1.5rem;

                margin: 1rem;
                padding: .5rem;

                width: 60%;
            }

            button {
                height: 2rem;
                padding: .3rem;
            }
        }

        .button-container {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;

            width: 100%;

            button {
                font-size: 1.5rem;

                margin: 0 .2rem;
                padding: .45rem;

                background-color: #d0d0d0;
            }
        }
    }
}

.prompt-dark {
    .blur-dark {
        background-color: #3e4144 !important;
    }

    .prompt-window-dark {
        h1 {
            color: #eeeeee !important;
        }

        button {
            color: #e0e0e0 !important;
            background-color: #373737 !important;
        }
    }
}
