.settings {
    position: fixed;

    z-index: 4;

    // TODO design: change these widths if needed (but then change positions too)
    @media only screen and (min-width: 200px) {
        width: 8rem;
        height: 8rem;
    }
    @media only screen and (min-width: 600px) {
        width: 7.5rem;
        height: 7.5rem;
    }
    @media only screen and (min-width: 1000px) {
        width: 7rem;
        height: 7rem;
    }
    @media only screen and (min-width: 1400px) {
        width: 6.5rem;
        height: 6.5rem;
    }

    .settings-icon-container {
        .settings-icon {
            width: 100%;
            height: 100%;

            cursor: pointer;
        }
    }

    .settings-popup-container {
        visibility: hidden;
        position: fixed;

        transition-duration: 250ms;
        transition-property: all;

        opacity: 0;
        z-index: 4;

        .settings-popup-triangle {
            position: relative;

            width: 0;
            height: 0;

            border-left: 25px solid transparent;
            border-right: 25px solid transparent;
            border-bottom: 40px solid #111111;

            margin-left: 23px;
            margin-top: 5px;
            margin-bottom: 0;

            z-index: 4;
        }

        .settings-popup {
            position: relative;

            background-color: #e6e6e6;

            z-index: -4 !important;

            border: none;
            border-radius: .4rem .4rem 0 .4rem;

            @media only screen and (min-width: 200px) {
                width: 80vw;
            }
            @media only screen and (min-width: 600px) {
                width: 45vw;
            }
            @media only screen and (min-width: 1000px) {
                width: 30vw;
            }
            @media only screen and (min-width: 1400px) {
                width: 20vw;
            }
            @media only screen and (min-width: 1700px) {
                width: 18vw;
            }
            min-height: 0;

            .settings-logout-button-div {
                display: flex;
                flex-direction: row-reverse;

                .settings-logout-button {
                    width: 120px;
                    height: 50px;

                    margin: 5px;

                    font-size: 2rem;
                    text-align: center;

                    background-color: #e0e0e0;

                    border: none;
                    border-radius: 5px;

                    &:hover {
                        background-color: darken(#e0e0e0, 10%);
                    }

                    &:active {
                        background-color: darken(#e0e0e0, 15%);
                    }
                }
            }

            .setting {
                display: flex;
                position: relative;
                flex-direction: row;
                flex-wrap: wrap;

                z-index: 4;

                .setting-name {
                    margin: 1% 6%;
                    font-size: 2.2rem;

                    width: 200px;
                }

                .settings-switch {
                    width: 80px;
                    height: 40px;

                    margin: auto;

                    .settings-switch-label {
                        display: flex;
                        position: relative;
                        align-items: center;
                        justify-content: center;

                        cursor: pointer;
                        width: 80px;
                        height: 40px;

                        border-radius: 100px;
                        transition: background-color 350ms;

                        background-color: grey;

                        margin: 0;

                        .settings-switch-span {
                            content: '';
                            position: absolute;
                            top: 2px;
                            left: 2px;

                            width: 35px;
                            height: 35px;

                            border-radius: 45px;
                            transition: 350ms;
                            background: #ffffff;
                            box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
                        }
                    }

                    .settings-switch-input {
                        height: 0;
                        width: 0;
                        visibility: hidden;
                        position: absolute;

                        &:checked + .settings-switch-label .settings-switch-span {
                            left: calc(100% - 2px);
                            transform: translateX(-100%);
                        }

                        &:checked + .settings-switch-label {
                            background-color: lightblue;
                        }
                    }
                }
            }
        }

        &.active {
            visibility: visible;

            opacity: 1;

            transform: translateY(0%);
        }
    }

    .settings-popup-container-top {
        margin-top: -322%;

        .settings-popup-triangle {
            transform: rotate(180deg);
            margin-top: 0;
        }
    }
}

.settings-students-page {
    top: 1rem;
    left: 1rem;

    .settings-popup-container {
        transform: translateY(10%);

        @media only screen and (min-width: 200px) {
            top: 9rem;
            left: 1.9rem;
        }
        @media only screen and (min-width: 600px) {
            top: 8.5rem;
            left: 1.7rem;
        }
        @media only screen and (min-width: 1000px) {
            top: 8rem;
            left: 1.5rem;
        }
        @media only screen and (min-width: 1400px) {
            top: 7.5rem;
            left: 1.3rem;
        }
    }
}

.settings-teacher-page {
    bottom: 0.5rem;
    left: 0.5rem;

    .settings-popup-container {
        transform: translateY(-10%);

        @media only screen and (min-width: 200px) {
            left: 1.5rem;
            bottom: 9rem;
        }
        @media only screen and (min-width: 600px) {
            left: 1.25rem;
            bottom: 8.5rem;
        }
        @media only screen and (min-width: 1000px) {
            left: 1rem;
            bottom: 8rem;
        }
        @media only screen and (min-width: 1400px) {
            left: 0.75rem;
            bottom: 7.5rem;
        }
    }
}

.settings-teacher-page .settings-popup-container {
    margin-top: -323px !important;
}

.settings-dark {
    .settings-popup-triangle-dark {
        border-bottom-color: #eeeeee !important;
    }

    .settings-popup-dark {
        background-color: #464646 !important;
    }

    .settings-logout-button-dark {
        color: #eeeeee !important;
        background-color: #505050 !important;

        &:hover {
            background-color: #525252 !important;
        }

        &:active {
            background-color: #585858 !important;
        }
    }

    .setting-dark {
        .setting-name-dark {
            color: #eeeeee !important;
        }

        .settings-switch-dark {
            .settings-switch-input-dark {
                &:checked + label {
                    background-color: #6a6aff !important;
                }
            }

            .settings-switch-label-dark {
                background-color: #808080 !important;

                .settings-switch-span-dark {
                    background-color: #1e1e1e !important;
                }
            }
        }
    }
}
