.sidebar-container {
    position: fixed;
    left: 0;
    top: 0;

    display: flex;
    flex-direction: column;

    width: 5vw;
    height: 100vh;

    background-color: lightblue;
    transition: width 500ms ease;

    margin: 0;
    padding: 0;

    .sidebar-item {
        display: flex;
        align-items: center;

        cursor: pointer;
        overflow: hidden;

        width: 100%;
        height: 10%;

        color: black;

        .icon {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 5vw;
            min-width: 5vw;
            margin: 0;
        }

        .name {
            padding-bottom: 2px;
            margin: 0;

            width: 0;

            display: none;

            transition: width 500ms ease;
        }

        // TODO design: change these colors after debugging
        &:hover {
            background-color: grey;
        }

        &:active {
            background-color: blue;
            border-bottom-color: blue;
        }
    }

    &:hover {
        width: 15vw;
    }

    &:hover .sidebar-item .name {
        display: inline-block;
        width: 10vw;
    }
}
