.snowflakes {
    position: absolute;
    left: 0;
    top: 0;

    width: 100vw;
    height: 100vh;

    overflow: hidden;
    pointer-events: none;
    background: none !important;

    .snowflake {
        overflow: hidden;
        background-color: #ADD8E6;
        opacity: 1;
        pointer-events: none;
        background: none !important;

        img {
            height: 8px;
            width: 8px;
        }
    }
}
