.students-page {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tree {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid black;

    @media only screen and (min-width: 200px) {
        width: 50%;
    }
    @media only screen and (min-width: 600px) {
        width: 40%;
    }
    @media only screen and (min-width: 1000px) {
        width: 35%;
    }
    @media only screen and (min-width: 1400px) {
        width: 30%;
    }
}
