.students-page {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tree {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid black;

    @media only screen and (min-width: 200px) {
        width: 50%;
    }
    @media only screen and (min-width: 600px) {
        width: 40%;
    }
    @media only screen and (min-width: 1000px) {
        width: 35%;
    }
    @media only screen and (min-width: 1400px) {
        width: 30%;
    }
}

.settings {
    position: fixed;
    top: 2%;
    left: 1.5%;

    @media only screen and (min-width: 200px) {
        width: 20%;
        height: 14%;
    }
    @media only screen and (min-width: 600px) {
        width: 12%;
        height: 12%;
    }
    @media only screen and (min-width: 1000px) {
        width: 8%;
        height: 10%;
    }
    @media only screen and (min-width: 1400px) {
        width: 5%;
        height: 8%;
    }

    .settings-icon {
        width: 100%;
        height: 100%;
    }

    .settings-popup {
        position: absolute;
        background-color: white;

        border: 1px solid black;
        margin-top: 2%;

        width: 15vw;
        min-height: 0;

        .setting {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .setting-name {
                margin: 2% 0 2% 2%;
            }
        }
    }
}
