.teacher-page {
    display: flex;
    flex-direction: row;

    .content {
        margin-left: 6vw;
    }
    
    .current-page-title {
        text-align: center;
        margin-left: 20vw;
    }
}
