.teacher-page {
    height: 100vh;

    .content {
        margin-left: 6vw;
        width: 94vw;

        h1 {
            margin: 0;
        }

        .students-page {
            display: flex;
            flex-direction: column;

            .controls {
                display: flex;
                flex-direction: row;

                width: 100%;
                height: 10vh;

                .order-by-label {
                    place-self: flex-start;
                    align-self: center;

                    margin-left: 2%;
                }

                .order-by-dropdown {
                    place-self: flex-start;
                    align-self: center;

                    margin-left: 1%;
                    margin-top: 8px;
                }
            }

            .students-list {
                display: flex;
                flex-direction: column;

                height: 90vh;
            }
        }
    }
}

.teacher-page-dark {
    background-color: #3e4344 !important;
    color: #e0e0e0 !important;
}
