.teacher-page {
    display: flex;
    flex-direction: row;

    height: 100vh;

    .content {
        margin-left: 6vw;
    }
}

.teacher-page-dark {
    background-color: #3e4344 !important;
    color: #e0e0e0 !important;
}
