.input {
    border: none;
    border-radius: 0;

    font-size: 1.5rem;

    margin: 0;
    padding: .5rem;

    width: 100%;

    &:first-of-type {
        border-radius: 10px 10px 0 0;
        border-bottom: 1px solid transparent;
    }

    &:last-of-type {
        border-radius: 0 0 10px 10px;
        border-bottom: none;
    }
}

.long-input {
    width: 100%;
    height: 10rem;

    overflow: scroll;

    font-size: 1.3rem;

    color: black;
    background-color: white;
}
