.homework-section .homework-container {
  min-height: 0;
  min-width: 100%;
}
.homework-section .homework-container .homework-table {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: max-content;
  padding: 0.5rem;
  font-size: 1.5rem;
}
.homework-section .homework-container .homework-table .homework-id {
  width: 5rem;
}
.homework-section .homework-container .homework-table .homework-class {
  width: 8rem;
}
.homework-section .homework-container .homework-table .homework-title {
  width: 20rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.homework-section .homework-container .homework-table .homework-text {
  width: 6rem;
}
.homework-section .homework-container .homework-table .homework-from_date {
  width: 12rem;
}
.homework-section .homework-container .homework-table .homework-due {
  width: 10rem;
}
.homework-section .homework-container .homework-table .header * {
  display: inline-block;
  font-size: 2rem;
  font-weight: normal;
  text-align: center;
  height: 2.8rem;
}
.homework-section .homework-container .homework-table .homework {
  cursor: pointer;
}
.homework-section .homework-container .homework-table .homework * {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: normal;
  text-align: center;
  height: 2.1rem;
}
.homework-section .homework-container .homework-table * {
  display: flex;
  flex-direction: row;
  width: fit-content;
}
.homework-section .new-homework-button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 6rem;
  height: 6rem;
  cursor: pointer;
}

.homework-card {
  display: inline-block;
  min-width: 50%;
  max-width: 80%;
  width: fit-content;
  padding: 1rem;
  margin: 1rem 0 0 0;
  border: none;
  border-radius: 0.5rem;
  background-color: #d9d9d9;
}
.homework-card .header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.homework-card .header img {
  height: 5rem;
  cursor: pointer;
}
.homework-card .data {
  margin-left: 2rem;
}
.homework-card .data h1 {
  font-size: 2rem;
}
.homework-card .data h1, .homework-card .data h2 {
  margin: 0;
}
.homework-card .data h2 {
  color: #282828;
}

.new-homework {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0.5rem 0 0 0;
  padding: 0;
}
.new-homework .dropdown {
  margin-top: 5.3rem;
}
.new-homework .due {
  height: fit-content;
  margin: 0.5rem 0;
  padding: 0.3rem;
  font-size: 1.1rem;
  border: none;
  border-radius: 0.5rem;
}
.new-homework .text-container {
  width: 85vw;
  height: 40vh;
}
.new-homework .text-container .title-container {
  height: 6vh;
  margin-bottom: 0.5rem;
}
.new-homework .text-container .title-container .google-input .label {
  font-size: 1.2rem;
}
.new-homework .text-container .title-container .google-input input {
  font-size: 2rem;
}
.new-homework .text-container .title-container .google-input input:not(:-moz-placeholder-shown) + .label {
  transform: translateY(-130%) scale(0.75) !important;
}
.new-homework .text-container .title-container .google-input input:not(:-ms-input-placeholder) + .label {
  transform: translateY(-130%) scale(0.75) !important;
}
.new-homework .text-container .title-container .google-input input:not(:placeholder-shown) + .label {
  transform: translateY(-130%) scale(0.75) !important;
}
.new-homework .text-container .title-container .google-input input:focus + .label {
  transform: translateY(-130%) scale(0.75) !important;
}
.new-homework button[type=submit] {
  font-size: 1.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
}

.new-homework-dark {
  color: #eeeeee !important;
}
.new-homework-dark .text-input {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
.new-homework-dark .due, .new-homework-dark button[type=submit] {
  color: #eeeeee !important;
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.homework-card-mobile {
  max-width: 100%;
}

.homework-card-dark, .homework-card-mobile-dark {
  background-color: #515559 !important;
}
.homework-card-dark h1, .homework-card-mobile-dark h1 {
  color: #eeeeee !important;
}
.homework-card-dark h2, .homework-card-mobile-dark h2 {
  color: #d2d2d2 !important;
}

/*# sourceMappingURL=HomeworkSection.css.map */
