.homework-section {
    display: flex;
    flex-direction: column;

    .homework-container {
        display: flex;
        flex-direction: column;

        height: 90vh;
        width: 100%;

        table-layout: fixed;

        .homework-table {
            width: 80%;

            font-size: 1.5rem;

            td, th {
                text-align: center;
            }

            .homework-id {
                width: 2rem !important;
            }
            .homework-class {
                width: 8rem !important;
            }
            .homework-title {
                width: 15rem !important;
            }
            .homework-text {
                width: 2rem !important;
            }
            .homework-from_date {
                width: 10rem !important;
            }
            .homework-due {
                width: 8rem !important;
            }
        }
    }
}
