.homework-section {
    display: flex;
    flex-direction: column;

    .homework-container {
        display: flex;
        flex-direction: column;

        height: 90vh;
        width: 100%;

        table-layout: fixed;

        .homework-table {
            width: 80%;

            font-size: 1.5rem;

            td, th {
                text-align: center;
            }

            tr {
                cursor: pointer;
            }

            .homework-id {
                width: 2rem !important;
            }
            .homework-class {
                width: 8rem !important;
            }
            .homework-title {
                width: 15rem !important;
            }
            .homework-text {
                width: 2rem !important;
            }
            .homework-from_date {
                width: 8rem !important;
            }
            .homework-due {
                width: 8rem !important;
            }
        }
    }
}

.homework-card {
    display: inline-block;

    min-width: 50%;
    max-width: 80%;

    width: fit-content;

    padding: 1rem;
    margin: 1rem 0 0 0;

    border: none;
    border-radius: .5rem;

    background-color: darken(#ffffff, 15%);

    .header {
        display: flex;
        justify-content: space-between;

        width: 100%;

        img {
            height: 5rem;

            cursor: pointer;
        }
    }

    .data {
        margin-left: 2rem;

        h1 {
            font-size: 2rem;
        }
        h1, h2 {
            margin: 0;
        }
        h2 {
            color: #282828;
        }
    }
}

.homework-card-mobile {
    max-width: 100%;
}

.homework-card-dark, .homework-card-mobile-dark {
    background-color: lighten(#3e4144, 8%) !important;

    h1 {
        color: #eeeeee !important;
    }
    h2 {
        color: #d2d2d2 !important;
    }
}
