.sidebar-container {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  user-select: none;
  background-color: lightblue;
  transition-property: all;
  transition-duration: 500ms;
  margin: 0;
  padding: 0;
  z-index: 3; }
  @media only screen and (min-width: 200px) {
    .sidebar-container {
      width: 9rem; } }
  @media only screen and (min-width: 600px) {
    .sidebar-container {
      width: 8.5rem; } }
  @media only screen and (min-width: 1000px) {
    .sidebar-container {
      width: 8rem; } }
  @media only screen and (min-width: 1400px) {
    .sidebar-container {
      width: 7.5rem; } }
  .sidebar-container .sidebar-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    height: 20%; }
    .sidebar-container .sidebar-item .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 6vw;
      margin: 0;
      transition-property: all;
      transition-duration: 500ms; }
    .sidebar-container .sidebar-item .name {
      padding-bottom: 2px;
      margin: 0 0 0 5%;
      width: 0;
      display: none;
      transition-property: all;
      transition-duration: 500ms; }
    .sidebar-container .sidebar-item:hover {
      background-color: #108b8b; }
    .sidebar-container .sidebar-item:active {
      background-color: #108080; }
  .sidebar-container:hover {
    width: 20vw; }
  .sidebar-container:hover .sidebar-item .name {
    display: inline-block;
    width: 10vw; }
  .sidebar-container:hover .icon {
    margin-left: 10%;
    width: 6vw !important; }

.sidebar-container-mobile {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 0;
  height: 100vh;
  background-color: lightblue;
  transition-property: all;
  transition-duration: 500ms;
  margin: 0;
  padding: 0; }
  .sidebar-container-mobile .show-sidebar-icon {
    position: fixed;
    top: 5vh;
    left: 0;
    width: 0;
    height: 0;
    border-left: 1.5em solid transparent;
    border-right: 1.5rem solid transparent;
    border-bottom: 3rem solid #111111;
    margin: 0;
    transition-property: all;
    transition-duration: 500ms;
    transform: rotate(90deg);
    z-index: 4; }
  @media only screen and (min-width: 200px) {
    .sidebar-container-mobile.active {
      width: 80vw; } }
  @media only screen and (min-width: 600px) {
    .sidebar-container-mobile.active {
      width: 60vw; } }
  @media only screen and (min-width: 1000px) {
    .sidebar-container-mobile.active {
      width: 40vw; } }
  @media only screen and (min-width: 1400px) {
    .sidebar-container-mobile.active {
      width: 30vw; } }
  .sidebar-container-mobile.active .show-sidebar-icon {
    transform: rotate(-90deg); }
    @media only screen and (min-width: 200px) {
      .sidebar-container-mobile.active .show-sidebar-icon {
        left: 80vw; } }
    @media only screen and (min-width: 600px) {
      .sidebar-container-mobile.active .show-sidebar-icon {
        left: 60vw; } }
    @media only screen and (min-width: 1000px) {
      .sidebar-container-mobile.active .show-sidebar-icon {
        left: 40vw; } }
    @media only screen and (min-width: 1400px) {
      .sidebar-container-mobile.active .show-sidebar-icon {
        left: 30vw; } }
  .sidebar-container-mobile.active .sidebar-item {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 20%; }
    .sidebar-container-mobile.active .sidebar-item .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      min-width: 5vw;
      margin: 5vw; }
    .sidebar-container-mobile.active .sidebar-item .name {
      padding-bottom: 2px;
      margin: 0;
      font-size: 20px;
      width: 0; }
    .sidebar-container-mobile.active .sidebar-item:active {
      background-color: #108b8b; }

.sidebar-container-dark, .sidebar-container-mobile-dark {
  color: #e0e0e0 !important;
  background-color: #4e5055 !important; }
  .sidebar-container-dark .sidebar-item-dark .name-dark, .sidebar-container-mobile-dark .sidebar-item-dark .name-dark {
    color: #e0e0e0 !important; }
  .sidebar-container-dark .sidebar-item-dark:hover, .sidebar-container-mobile-dark .sidebar-item-dark:hover {
    background-color: #6d6243; }
  .sidebar-container-dark .sidebar-item-dark:active, .sidebar-container-mobile-dark .sidebar-item-dark:active {
    background-color: #5e5437; }

/*# sourceMappingURL=SideBar.css.map */
