.sidebar-container {
    position: fixed;
    left: 0;
    top: 0;

    display: flex;
    flex-direction: column;

    @media only screen and (min-width: 200px) {
        width: 9rem;
    }
    @media only screen and (min-width: 600px) {
        width: 8.5rem;
    }
    @media only screen and (min-width: 1000px) {
        width: 8rem;
    }
    @media only screen and (min-width: 1400px) {
        width: 7.5rem;
    }
    height: 100vh;

    user-select: none;

    background-color: lightblue;
    transition-property: all;
    transition-duration: 500ms;

    margin: 0;
    padding: 0;

    z-index: 3;

    .sidebar-item {
        display: flex;
        align-items: center;

        cursor: pointer;
        overflow: hidden;

        width: 100%;
        height: 20%;

        .icon {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 6vw;
            margin: 0;

            transition-property: all;
            transition-duration: 500ms;
        }

        .name {
            padding-bottom: 2px;
            margin: 0 0 0 5%;

            width: 0;

            display: none;

            transition-property: all;
            transition-duration: 500ms;
        }

        &:hover {
            background-color: #108b8b;
        }

         &:active {
             background-color: #108080;
         }
    }

    &:hover {
        width: 20vw;
    }

    &:hover .sidebar-item .name {
        display: inline-block;
        width: 10vw;
    }

    &:hover .icon {
        margin-left: 10%;
        width: 6vw !important;
    }
}

.sidebar-container-mobile {
    position: fixed;
    left: 0;
    top: 0;

    display: flex;
    flex-direction: column;

    width: 0;
    height: 100vh;

    background-color: lightblue;
    transition-property: all;
    transition-duration: 500ms;

    margin: 0;
    padding: 0;

    z-index: 4;

    .show-sidebar-icon {
        position: fixed;
        top: 5vh;
        left: 0;

        width: 0;
        height: 0;

        border-left: 1.5em solid transparent;
        border-right: 1.5rem solid transparent;
        border-bottom: 3rem solid #111111;

        margin: 0;

        transition-property: all;
        transition-duration: 500ms;
        transform: rotate(90deg);

        z-index: 4;
    }

    &.active {
        @media only screen and (min-width: 200px) {
            width: 80vw;
        }
        @media only screen and (min-width: 600px) {
            width: 60vw;
        }
        @media only screen and (min-width: 1000px) {
            width: 40vw;
        }
        @media only screen and (min-width: 1400px) {
            width: 30vw;
        }

        .show-sidebar-icon {
            @media only screen and (min-width: 200px) {
                left: 80vw;
            }
            @media only screen and (min-width: 600px) {
                left: 60vw;
            }
            @media only screen and (min-width: 1000px) {
                left: 40vw;
            }
            @media only screen and (min-width: 1400px) {
                left: 30vw;
            }

            transform: rotate(-90deg);
        }

        .sidebar-item {
            display: flex;
            align-items: center;

            overflow: hidden;

            width: 100%;
            height: 20%;

            .icon {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 100px;
                min-width: 5vw;

                margin: 5vw;
            }

            .name {
                padding-bottom: 2px;
                margin: 0;

                font-size: 20px;

                width: 0;
            }

            &:active {
                background-color: #108b8b;
            }
        }
    }
}

.sidebar-container-dark, .sidebar-container-mobile-dark {
    color: #e0e0e0 !important;
    background-color: #4e5055 !important;

    .sidebar-item-dark {
        .name-dark {
            color: #e0e0e0 !important;
        }

        // TODO design: change these colors
        &:hover {
            background-color: #6d6243;
        }

        &:active {
            background-color: #5e5437;
        }
    }
}
