.students-section {
    display: flex;
    flex-direction: column;

    .students-container {
        display: flex;
        flex-direction: column;

        height: 90vh;
        width: 100%;

        .students-table {
            width: 40%;

            font-size: 1.5rem;

            td, th {
                text-align: center;
            }

            tr {
                cursor: pointer;
            }

            .student-id {
                width: 2rem !important;
            }
            .student-name {
                width: 15rem !important;
            }
            .student-username {
                width: 15rem !important;
            }
        }
    }
}

.student-card {
    display: inline-block;

    min-width: 18rem;

    padding: 1rem 5rem 1rem 1rem;
    margin: 1rem 0 0 0;

    border: none;
    border-radius: 10px 10px 0 10px;

    background-color: darken(#ffffff, 15%);

    h1 {
        font-size: 3rem;
    }

    .data {
        margin-left: 2rem;

        h1 {
            font-size: 2rem;
        }
        h1, h2 {
            margin: 0;
        }
    }

    button {
        border: none;
        border-radius: 5px 5px 0 5px;

        font-size: 1.2rem;

        cursor: pointer;

        padding: .45rem;

        background-color: darken(#ffffff, 25%);
    }
}

.student-card-dark {
    // darken alternative for lightening colors: https://pinetools.com/lighten-color

    background-color: #505357 !important;

    h1, h2 {
        color: #eeeeee !important;
    }
    h2 {
        filter: brightness(80%);
    }

    button {
        color: #e0e0e0 !important;
        background-color: #44474b !important;
    }
}
