.students-section {
    display: flex;
    flex-direction: column;

    .students-container {
        display: flex;
        flex-direction: column;

        height: 90vh;
        width: 100%;

        .students {
            margin-left: 2rem;

            &:first-child {
                margin-top: 1.5rem;
            }
        }
    }
}
