.teacher-page {
    height: 100vh;

    .content {
        margin-left: 6vw;
        width: 94vw;

        h1 {
            margin: 0;
        }
    }
}

.teacher-page-dark {
    background-color: #3e4344 !important;
    color: #e0e0e0 !important;
}
