.loading-component {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    video {
        width: 20vw;
        height: 20vh;
    }
}

.loading-component-dark {
    h1, h2 {
        color: #eeeeee !important;
    }
}
