@import "../../styles/Colors";

.something-went-wrong {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;

    h1 {
        margin-top: 0;
    }

    h1, h2, p {
        text-align: center;
    }
}

.something-went-wrong-dark {
    h1 {
        color: $color-850 !important;
    }

    h2 {
        color: $color-850 !important;
    }
}
