@import "../../../styles/Colors";

.students-section {
    .students-section-content {
        .students-container {
            min-height: 0;
            min-width: 100%;

            .students-table {
                display: flex;
                flex-direction: column;

                min-width: 100%;
                min-height: max-content;

                padding: .5rem;

                font-size: 1.5rem;
                margin-bottom: .5rem;

                .student-id {
                    width: 5rem;
                }
                .student-name {
                    width: 15rem;
                }
                .student-username {
                    width: 15rem;
                }

                // mixin go brrrrrrr
                @mixin block($fontSize) {
                    display: inline-block;

                    font-size: $fontSize;
                    font-weight: normal;

                    text-align: center;

                    overflow: auto;
                }

                .header {
                    * {
                        @include block(2rem);
                        font-weight: bold;
                    }
                }

                .student {
                    cursor: pointer;

                    * {
                        @include block(1.5rem);
                    }
                }

                * {
                    display: flex;
                    flex-direction: row;

                    width: fit-content;
                }
            }
        }

        .student-card, .student-card-mobile {
            width: fit-content;

            padding: 1rem;
            margin: 1rem auto;

            opacity: 0;
            visibility: hidden;

            border-radius: .5rem .5rem 0 .5rem;

            transition: 500ms all;

            background-color: darken(#ffffff, 15%);

            .header {
                display: flex;
                justify-content: space-between;

                width: 100%;

                h1 {
                    font-size: 3.5rem;
                }

                img {
                    height: 5rem;

                    cursor: pointer;
                }
            }

            .data {
                margin-left: 2rem;

                h1 {
                    font-size: 2rem;
                }
                h1, h2 {
                    margin: 0;
                }
                h2 {
                    color: #282828;
                }
            }

            button {
                border-radius: 5px 5px 0 5px;

                font-size: 1.2rem;

                cursor: pointer;

                padding: .45rem;

                background-color: darken(#ffffff, 25%);
            }

            &.active {
                opacity: 1;
                visibility: visible;
            }
        }

        .student-card {
            &:not(.separate) {
                position: absolute;
                top: 5rem;
                right: 2rem;

                min-width: 18rem;
            }
        }

        .student-card-mobile {
            position: relative;

            width: 80%;

            .data {
                display: inline-block;
            }
        }
    }

    .new-student-button {
        position: fixed;
        bottom: 1rem;
        right: 1rem;

        width: 6rem;
        height: 6rem;

        cursor: pointer;
    }
}

.new-student {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin: .5rem 0 0 0;
    padding: 0;

    height: 80vh;

    .create-student-entry-container {
        display: flex;
        flex-direction: column;
        height: fit-content;

        input {
            font-size: 1.1rem;

            padding: .25rem;
            padding-top: .5rem;
            padding-bottom: .5rem;

            margin-bottom: .75rem;

            text-align: center;
        }
    }

    button[type=submit] {
        font-size: 1.3rem;

        padding: .75rem;

        border-radius: .5rem;
    }

    .dropdown, .text-container {
        margin-bottom: .5rem;
    }
}

.student-card-dark, .student-card-mobile-dark {
    background-color: lighten(#3e4144, 8%) !important;

    h1 {
        color: #eeeeee !important;
    }
    h2 {
        color: #d2d2d2 !important;
    }

    button {
        color: #e0e0e0 !important;
        background-color: #44474b !important;
    }
}
